.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password-input {
    width: 300px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 5px;
    font-size: 25px;
}

label {
    font-size: 25px;
    margin: 5px;
}
.save-button {
    width: 10%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}
.save-button:hover {
    background-color: #ccc;
    cursor: pointer;
}
